
<div class="panel panel-default">
	<div class="panel-heading" >Applicant</div>

	<div class="panel-body">
	
	<div class="form-group" ng-show="qmap['a.firstName'].enabled == true">
		<label class="col-sm-2 control-label">{{qmap['a.firstName'].description}}</label>
		<div class="col-sm-10">
			<input name="firstName" ng-required="qmap['a.firstName'].required" type="text" ng-blur="changeHandle()" ng-model="newApplicant.firstName">
		</div>
	</div>
	<div class="form-group" ng-show="qmap['a.lastName'].enabled">
		<label class="col-sm-2 control-label">{{qmap['a.lastName'].description}}</label>
		<div class="col-sm-10">
			<input name="lastName" ng-required="qmap['a.lastName'].required" type="text" ng-blur="changeHandle()" ng-model="newApplicant.lastName">
		</div>
	</div>

	<div class="form-group" ng-show="qmap['a.email'].enabled">
		<label class="col-sm-2 control-label">{{qmap['a.email'].description}}</label>
		<div class="col-sm-10">
			<input name="email" ng-required="qmap['a.email'].required" type="email" ng-model="newApplicant.email" ng-blur="changeHandle()">
		</div>
	</div>
	<div class="form-group" ng-show="qmap['a.phone'].enabled">
		<label class="col-sm-2 control-label">{{qmap['a.phone'].description}}</label>
		<div class="col-sm-10">
			<input name="phone" ng-required="qmap['a.phone'].required" ng-pattern="/^\(?\d{3}\)?\s*\d{3}\s*-?\s*\d{4}$/" ng-blur="changeHandle()" type="text" ng-model="newApplicant.phone">
		</div>
	</div>
	<div class="form-group" ng-show="qmap['a.filedForBankruptcy'].enabled">

		<label class="col-sm-2 control-label">{{qmap['a.filedForBankruptcy'].description}}</label>
		<div class="col-sm-10">
			<input name="filedForBankruptcy" ng-change="changeHandle()" type="checkbox" type="text" ng-model="newApplicant.filedForBankruptcy">
		</div>
	</div>

	<div class="form-group" ng-show="qmap['a.fraud'].enabled">
		<label class="col-sm-2 control-label">{{qmap['a.fraud'].description}}</label>
		<div class="col-sm-10">
			<input name="fraud" ng-change="changeHandle()" type="checkbox" ng-model="newApplicant.fraud">
		</div>
	</div>

	<div class="form-group" ng-show="qmap['p.anyPreviousInsuranceDenials'].enabled">
		<label class="col-sm-2 control-label">{{qmap['p.anyPreviousInsuranceDenials'].description}}</label>
		<div class="col-sm-10">
			<input name="anyPreviousInsuranceDenials" ng-change="changeHandle()" type="checkbox" ng-model="newApplicant.anyPreviousInsuranceDenials">
		</div>
	</div>
	</div>
</div>






