
<form name="applicantForm" ng-submit="fireSome()">
	<div>Applicant</div>
	<table>
		<tr>
			<td colspan="4">
<!-- 				<div  ng-repeat="que in questions | orderBy : '+id'"> -->
<!-- 					<div ng-show="que.enabled == true"> -->
<!-- 					<select ng-model="que.answer" ng-show="que.answerType == 'dropDown'" ng-options="opt as opt.label for opt in que.values" required> -->
				 
<!-- 					</select> -->
					
<!-- 					{{que.description}}<input ng-show="que.answerType != 'dropDown' && que.answerType != 'radio' " ng-model="que.answer" type="{{que.answerType}}" required> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<div>
			{{qmap}}	
{{qmap['firstName'].description}}<input  ng-blur="changeHandle()" ng-required="qmap['firstName'].required" ng-show="qmap['firstName'] != null && qmap['firstName'].enabled == true" type="text" ng-model="newApplicant.firstName"></br>
{{qmap['lastName'].description}}<input ng-blur="changeHandle()"  ng-required="qmap['lastName'].required"  ng-show="qmap['lastName'] != null && qmap['lastName'].enabled == true" type="text" ng-model="newApplicant.lastName"></br>
{{qmap['email'].description}}<input ng-blur="changeHandle()"  ng-required="qmap['email'].required"  ng-show="qmap['email'] != null && qmap['email'].enabled == true" type="email" ng-model="newApplicant.email"></br>
{{qmap['phone'].description}}<input ng-blur="changeHandle()"  ng-required="qmap['phone'].required"  ng-pattern="/^\(?\d{3}\)?\s*\d{3}\s*-?\s*\d{4}$/"  ng-show="qmap['phone'] != null && qmap['phone'].enabled == true" type="text" ng-model="newApplicant.phone"></br>
{{qmap['filedForBankRuptcy'].description}}<input ng-blur="changeHandle()"  ng-required="qmap['filedForBankRuptcy'].required"  ng-show="qmap['filedForBankRuptcy'] != null && qmap['filedForBankRuptcy'].enabled == true" type="text" ng-model="newApplicant.filedForBankRuptcy"></br>
{{qmap['fraud'].description}}<input ng-change="changeHandle()"  ng-required="qmap['fraud'].required"  ng-show="qmap['fraud'] != null && qmap['fraud'].enabled == true" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="newApplicant.fraud"></br>
{{qmap['anyPreviousInsurance'].description}}<input ng-change="changeHandle()"  ng-required="qmap['anyPreviousInsurance'].required"  ng-show="qmap['anyPreviousInsurance'] != null && qmap['anyPreviousInsurance'].enabled == true" type="checkbox" ng-model="newApplicant.anyPreviousInsurance"></br>
				
				</div>
			</td>
		</tr>

		<tr>
			<td colspan="4"><input type="submit" ng-disabled="applicantForm.$invalid" id="fire" value="Next To Property" /></td>
		</tr>

	</table>

</form>

