
<div style="width: 100%;">
	<div style="float: left; width: 70%; border-right: 1px solid green">
		<form name="mainForm">
			<div ng-include="templatesApplicant"></div>
			<div ng-include="templatesProperty"></div>
			
				<input  type="button" name="eligibility" id="eligibility"  ng-disabled="false == (quoteStatus == QuoteStatus.NEED_ELIGIBILITY_CHECK)" value="Check Eligibility" ng-click="getEligibility()" />


				<div>
					<input type="button" id="quote" ng-show="QuoteStatus.ELIBIBILITY_COMPLETE == quoteStatus" value="Quote" ng-click="quoteCalculate()" />
				
					<div ng-show="false" ng-repeat="formDt in mainForm" style="border:1px solid red">
					
					{{formDt}}
					</div>
				</div>
		</form>

	</div>

	<div>
	
		<div style="float:left">
			Quote Messages : {{newProperty.status}}
			<div ng-show="newProperty.status.isEmpty()">Quote Amount : {{wrapper.quote.amount}} Quote Id : {{wrapper.quote.id}}</div>
		</div>
	</div>
</div>


